<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>Se Connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <div class="logo">
      <ion-icon color="primary" name="person-circle-outline"></ion-icon>
    </div>
    <form #loginForm="ngForm">
      <ion-item lines="full">
        <ion-label position="floating">Login</ion-label>
        <ion-input [(ngModel)]="login.username" type="text"  name="username" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="login.password" type="password"  name="password" required></ion-input>
      </ion-item>
      <ion-item lines=none>
        <ion-button color="primary" fill="clear" slot="end" [routerLink]="['/mtd-oublie']" text-center>Mot de passe oublié?</ion-button>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button (click)="onLogin(loginForm)" [disabled]="loginForm.invalid"  type="submit" color="primary" expand="block" shape="round">Connexion</ion-button>
        </ion-col>
      </ion-row>
    </form>
</div>
</ion-content>
